/* START: FELLES-KLASSER */

body {
	margin: 0px 0px 0px 0px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.album {
	float: left;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 70%;
	padding-top: 0px;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 0px;
}

.album img {
	width: 110px;
	height: 110px;
	padding: 2px;
	border: solid #CFCFCF 1px;
	box-shadow: 1px 3px 8px grey;
}

.artistnavn {
	font-weight: bold;
}

.stortbilde {
	width: 300px;
	height: 300px;
	padding: 10px;
	border: solid #CFCFCF 1px;
	box-shadow: 1px 3px 8px grey;
}

.toppMeny {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding-left: 0;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0;
}

/* SLUTT: FELLES-KLASSER */



/* START: HJEM.JSP */

#soekespilledel {
	position: fixed;
	top: 0px;
}

#soekform {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#avspiller {
	width: 270px;
	height: 350px;
	padding-left: 10px;
}

#filter {
	position: fixed;
	background-color: white;
	top: 0px;
	left: 270px;
	height: 25px;
	padding-top: 10px;
	padding-left: 30px;
	padding-bottom: 5px;
	width: 100%;
	z-index: 1;
}

#myk_kant {
	position: fixed;
	top: 40px;
	left: 270px;
	height: 10px;
	width: 100%;
	z-index: 1;
	background-image: -webkit-gradient(
  						linear, left top, left bottom, 
  						from(rgba(255,255,255,1)),
  						to(rgba(255,255,255,0))
					);
}

#albumene {
	position: relative;
	top: 50px;
	left: 300px;
	max-width: 1100px;
}

/* SLUTT: HJEM.JSP */



/* START: ALBUM.JSP */

#albumVenstre {
	position: absolute;
	top: 40px;
	left: 10px;
	text-align: center;
	width: 330px;
}

#albumHoyre {
	position: absolute;
	top: 40px;
	left: 350px;
}

#tittel {
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 125%;
}

#spor {
	margin-top: 0px;
}

#artist {
	margin-left: 10px;
}

/* SLUTT: ALBUM.JSP */



/* START: ARTIST.JSP */

#artistVenstre {
	position: absolute;
	top: 40px;
	left: 10px;
	text-align: center;
}

#artistTittel {
	margin-top: 10px;
}

#artistHoyre {
	position: absolute;
	top: 40px;
	left: 350px;
	max-width: 1000px;
}

/* START: ARTIST.JSP */



/* START: SOEK.JSP */

.soekhoveddelSide {
	margin-left: 10px;
	max-width: 1300px;
}

/* START: SOEK.JSP */
