/* START: FELLES-KLASSER */

body {
	margin: 0 0 0 0;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.album {
	float: left;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 70%;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.album img {
	width: 110px;
	height: 110px;
	box-shadow: 1px 3px 8px grey;
	cursor: pointer;
}

#artistAlbumNavnLang {
	display: inherit;
}

#artistAlbumNavnMobil {
	display: none;
}

.artistnavn {
	font-weight: bold;
}

.stortbilde {
	width: 300px;
	height: 300px;
	padding: 10px;
	box-shadow: 1px 3px 8px grey;
}

.toppMeny {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding-left: 0;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0;
}

/* SLUTT: FELLES-KLASSER */



/* START: HJEM.JSP */

#soekespilledel {
	position: fixed;
	top: 0;
	left: 0;
}

@media (min-width: 1025px) {
	#filterdel {
		left: 290px;
	}

	#filter {
		padding-bottom: 3px;
		padding-left: 10px;
	}

	#albumdel {
		margin-top: 47px;
		margin-left: 290px;
	}
}

@media (max-width: 1024px) {
	#soekespilledel {
		display: none;
	}
	
	#filterdel {
		text-align: center;
	}
	
	#filter {
		padding-bottom: 3px;
	}

	#albumdel {
		margin-top: 47px;
		margin-left: 0px;
		width: 100%;
	}
	
	.album img {
		width: 105px;
		height: 105px;
	}	

	#leggTilFjernLink {
		display:none;
	}
	
	#artistAlbumNavnLang {
		display: none;
	}
	
	#artistAlbumNavnMobil {
		display: inherit;
	}
	
}

@media (max-width: 598px) {
	#filter {
		padding-bottom: 10px;
	}
	
	#albumdel {
		margin-top: 53px;
		margin-left: 0px;
		width: 100%;
	}

	.album {
		padding-right: 10px;
	}

	.album img {
		width: 96px;
		height: 96px;
	}	
	
	#artistAlbumNavnLang {
		display: none;
	}
	
	#artistAlbumNavnMobil {
		display: inherit;
	}
}

#soekform {
	margin-top: 10px;
	margin-right: 0;
	margin-left: 10px;
}

.soekinputlabel {
    float: left;
    width: 50px;
    text-align: right;
    margin-right: 5px;
    padding-top: 3px;
}

.soekinput {
    overflow: hidden;
    display: block;
    margin-bottom: 3px;
}

.soekinput input {
    width: 97%
}

#gjoersoek {
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 10px;
	float: right;
}

#avspiller {
	width: 270px;
	height: 350px;
	margin-left: 10px;
}

#filterdel {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
}

#filter {
	height: 25px;
	padding-top: 10px;
	background-color: white;
}

#myk_kant {
	height: 10px;
	background-image: -webkit-gradient(
  						linear, left top, left bottom, 
  						from(rgba(255,255,255,1)),
  						to(rgba(255,255,255,0))
					);
}

#albumdel {
	position: relative;
	max-width: 1060px;
}

/* SLUTT: HJEM.JSP */



/* START: ALBUM.JSP */

#albumVenstre {
	position: absolute;
	top: 40px;
	left: 10px;
	text-align: center;
	width: 330px;
}

#albumHoyre {
	position: absolute;
	top: 40px;
	left: 350px;
}

#tittel {
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 125%;
}

#spor {
	margin-top: 0px;
}

#artist {
	margin-left: 10px;
}

/* SLUTT: ALBUM.JSP */



/* START: ARTIST.JSP */

#artistVenstre {
	position: absolute;
	margin-top: 0px;
	margin-left: 10px;
	width: 300px;
	text-align: center;
}

#artistTittel {
	margin-top: 10px;
}

#artistHoyre {
	position: absolute;
	margin-top: 0px;
	margin-left: 360px;
	max-width: 1050px;
}

/* START: ARTIST.JSP */



/* START: SOEK.JSP */

#soekmeny {
	margin-left: 10px;
	margin-bottom: 10px;
	max-width: 1300px;
}

#soekhoveddelSide {
	margin-left: 10px;
	margin-bottom: 10px;
	max-width: 1300px;
}

/* START: SOEK.JSP */
