.album {
	float: left;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 70%;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 0px;
}

.album img {
	width: 92px;
	height: 92px;
	padding: 2px;
	border: solid #CFCFCF 1px;
	box-shadow: 1px 3px 8px grey;
	cursor: pointer;
}

.artistnavn {
	font-weight: bold;
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#filter {
	position: fixed;
	text-align: center;
	vertical-align: center;
	top: 0px;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	z-index: 1;
	background-color: white;
}

#albumene {
	position: relative;
	margin-top: 40px;
	padding-left: 15px;
}
